---
layout: default
---

{% assign content = content | strip_newlines %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'pt-BR' }}">
  {% include layout/head_pages.html %}

  <body>
    <main>
      {% include layout/header.html %}

      <section class="container">
        {% if content != "" %}
          <div class="content">
            {{ content }}
          </div>
        {% else %}
          {% include layout/empty.html %}
        {% endif %}
      </section>
      
      {% include layout/footer.html %}
    </main>

    {% include layout/footer_pages.html %}
  </body>
</html>