---
layout: project
---

{% assign content = content | strip_newlines %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'pt-BR' }}">
  {% include layout/head_pages.html %}

  <body>
    <main>
      {% include layout/header.html %}

      <section class="container">
        <div class="content">
          <h1>Título</h1><hr />

          {{ content }}

          {% include slider.html %}
        </div>
      </section>

      {% include layout/footer.html %}
    </main>

    {% include layout/footer_pages.html %}
  </body>
</html>
