---
layout: projects
---

{% assign content = content | strip_newlines %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'pt-BR' }}">
  {% include head_pages.html %}

  <body>
    <main>
      {% include header.html %}

      <section class="container">
        {% if content != "" %}
          <div class="content">
            {{ content }}
          </div>
        {% endif %}
      </section>

      {% include projects.html %}

      {% include footer.html %}
    </main>
  </body>
</html>
