* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

  *:focus {
    outline: 0;
  }
}

body {
  font-family: $font-family-base;
  color: $color-dark;
  font-size: 1em;
  line-height: 1.5;
  padding: 1rem 0;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: $link-hover-color;
}


hr {
  margin: 2.5rem 0 3.75rem;
  opacity: .2;
}

li {
  display: block;
  padding-left: 1rem;
  margin-bottom: .5rem;
  position: relative;

  &:after {
    content: "\2022";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.container {
  width: 100%;
  max-width: $grid-center;
  margin: auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: inherit;
}

.container img {
  max-width: 100%;
}

.content {
  flex-direction: column;
  min-height: 60vh;
  width: 100%;
}

.line-bottom {
  padding-bottom: 2.5rem;
  margin-bottom: 3.75rem;
  border-bottom: 1px solid $color-border;
}

.line-top {
  padding-top: 2.5rem;
  margin-top: 3.75rem;
  border-top: 1px solid $color-border;
}

.empty {
  width: 100%;
  min-height: 60vh;
  padding: 5rem 0;
  text-align: center;
}