
table {
  background-color: $color-gray;
  width: 100%;
  min-width: 28rem;
  
  &:last-of-type{
    td:last-of-type{
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    min-width: 100%;
  }
  
  tr {
    @media (max-width: 767px) {
      max-width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  td {
    vertical-align: top;
    padding: .5rem;
  }

  a[title="Reportagem"] {
    font-size: 1.5rem;
  }

  img {
    @media (max-width: 767px) {
      max-width: 100% !important;
    }

    width: 350px;

    &[alt="Thabata"] {
      max-width: 250px;
    }

    &[alt="G1"] {
      max-width: 2rem;
      margin-top: .5rem;
    }

    &[alt="twitter"],
    &[alt="linkedin"],
    &[alt="instagram"] {
      margin-top: .75rem;
      margin-right: .25rem;
    }
  }
}